body{
    text-align: center;
    
}
.newDiv{
    display: flex;
    border: 1px solid black;
    margin: 5px;
}
.parentElement{
    text-align: center;
    width: 412px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
}
input:focus {
    border: 2px solid rgb(44, 197, 17);
    transition: 0.3s;
}
input{
    transition: 0.3s;
}